<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Eventos e Convidados - Menu de Opções</title>
    <link rel='stylesheet' href="/stylesheets/style.css">
</head>

<body>
    <header>
        <p> Bem vindo ,
            <%= usuario.name %>
        </p>
        <h1>Menu de Opções</h1>
        <h4>Escolha sua opção</h4>
    </header>
    <section>
        <ul>
            <li>
                <a href="/cadUsuario">Cadastro de Usuarios</a>
            </li>
            <li>
                <a href="/cadEvento">Cadastro de Eventos</a>
            </li>
            <li>
                <a href="/listaEventos">Lista de Eventos</a>
            </li>
        </ul>
    </section>
    <section>
        <a href="/logout">Logout</a>
    </section>

    <footer>
        <small>Sistema de Cadastro de Eventos e Covidados</small>
    </footer>
</body>

</html>